<!DOCTYPE html>
<html lang="en">.
<head>
    <title>Comments</title>
    <style>
        #btn{
            width: 140px;
            height: 45px;
            color: white;
            border-color: blue;
            background-color: blue;
            border-radius: 5px;
        }
        #pn{
            width: 400px;
        }
        #pm{
            width: 400px;
        }
        #pp{
            width: 400px;
        }
    </style>
      <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Diplomata SC' rel='stylesheet'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div id="app" class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">InstaMiliGram</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/api/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav></div>
<br><br>
<section class="container content-section">
    <% if (message.length > 0) { %>
        <div class="alert alert-success col-sm-12"><%= message %></div>
                            <% } %>
        <div>
            <h2 style="text-align: center;color: red;font-family: 'Diplomata SC'"><%= name %></h2>
            <div align="center"> <img alt="User Pic" src="http://localhost:1234/uploads/<%=img%>" class="img-circle img-responsive" style="width:300px;height: 300px;"></div>
            <h2 class="section-header" style="font-family: 'Diplomata SC'">Comments:</h2>
            <% comments.forEach(function(comment){ %>
            <div class="card" >
            <span class="card-body" style="background-color: #F0FFF0;"><img src="http://localhost:1234/user.jpeg" style="width:30px;height:30px;"> <h style="color: blue; font-family: 'Diplomata SC'"> <%= comment.username%></h></span>
            <span class="card-body" style="background-color: #F0FFF0;"><%= comment.comment%></span></div><br>
    <% }) %><br>
            <form method="POST" action="/api/addcomment">
                <input type="hidden" name="postid" value="<%= pid %>">
                <input type="hidden" name="userid" value="<%= userid %>">
                <textarea type="text" name="comment" style="width:300px; height: 100px"></textarea><br>
                <button type="submit" class="btn btn-primary" style="font-family: 'Diplomata SC'">Add Comment</button></form>
        </div><br>
</div>
</section>
</body>
</html>