<!DOCTYPE html>
<html lang="en">
<head>
  <title>InstaMiliGram</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Diplomata SC' rel='stylesheet'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div id="app" class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">InstaMiliGram</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav">
            	<li class="nav-item">
                    <a class="nav-link" href="#">Welcome <%= name %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav><br><br>
<div id=div class="container-fluid">
  <% if (message.length > 0) { %>
        <div class="alert alert-success col-sm-12"><%= message %></div>
                            <% } %>
  <div class="row">
    <div id="d1" class="col-sm-3">
      <div class="card">
    <div class="card-body"><h1 id="d1h" style="align-content: center;">Dashboard</h1></div>
        <form method="POST" action="/api/viewpost/idwise">
                <input type="hidden" name="userid" value="<%= userid %>">
                <button type="submit" class="btn btn-danger" style="padding: 30px;width:200px; margin-left: 20px;font-family: 'Diplomata SC'">ViewMyposts</button></form><br>
        <form method="POST" action="/api/viewallposts/idwise">
                <input type="hidden" name="userid" value="<%= userid %>">
                <button type="submit" class="btn btn-danger" style="padding:30px; width:200px; margin-left: 20px;font-family: 'Diplomata SC'">ViewAllposts</button></form><br>
        <form method="POST" action="/api/createpost/idwise">
                <input type="hidden" name="userid" value="<%= userid %>">
                <button type="submit" class="btn btn-danger" style="padding: 30px;width:200px; margin-left: 20px;font-family: 'Diplomata SC'">Create post</button></form><br>
  </div>
</div>
</div>
</div>
</body>